.fullWidth{
  grid-column: 1 / 3;
}

.fixText .MuiChartsAxis-directionY .MuiChartsAxis-label{
  transform: translateX(-90px)!important;
}

.fixText2 .MuiChartsAxis-directionY .MuiChartsAxis-label{
  transform: translateX(-150px)!important;
}

.MuiBarLabel-root{
  font-size: 0.6rem!important;
}

/* alternating row colors for the dynamic tables */
.dx-datagrid-rowsview .dx-row.dx-row-alt {
  background-color: #eef2f6;
}

/* make datagrid headers bold and darker background*/
.dx-datagrid-headers .dx-row > td {
  background-color: #e0e0e0;
  font-weight: bold;
}