.fullWidth {
  grid-column: 1 / 3;
}

.fixText .MuiChartsAxis-directionY .MuiChartsAxis-label {
  transform: translateX(-90px) !important;
}

.fixText2 .MuiChartsAxis-directionY .MuiChartsAxis-label {
  transform: translateX(-150px) !important;
}

.MuiBarLabel-root {
  font-size: 0.6rem !important;
}

#root {
  height: 100vh;
}
